.posts-cards-container {
  display: flex;
  flex-direction: column;
}

.post-container {
  border: solid 1px grey;
  margin-right: 40rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding-left: 0.5rem;
  background-color: rgba(59, 85, 109, 0.411);
}

.Tag {
  border-radius: 5px;
  padding: 1px 3px;

  color: white;
  font-weight: bold;
  font-size: 0.85em;
  background: #555;
}

.card-post-title {
  text-decoration: none;
  color: white;
}
